.drawer-wrapper {
  width: 50px;
  display: flex;
  justify-content: center;

  .drawer {
    max-width: 100%;
    width: 300px;

    .MuiDrawer-paperAnchorLeft {
      .widgets {
        width: 300px;
      }
    }
  }
}
